[submodule "java/battleship"]
	path = java/battleship
	url = https://github.com/Eric2422/battleship.git
[submodule "java/files"]
	path = java/files
	url = https://github.com/Eric2422/files.git
[submodule "java/tutorMeNext"]
	path = java/tutorMeNext
	url = https://github.com/Eric2422/tutorMeNext.git
